@model MyMvcApp.Models.UserViewModel

<form method="post" asp-action="SubmitData">
    <div class="form-group">
        <label for="userInput">Data fra brukeren:</label>
        <input type="text" class="form-control" id="userInput" name="userInput" required />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

@{
    ViewData["Title"] = "Data";
}

<h1>@ViewData["Title"]</h1>

<h2>Brukerdata</h2>

<p>Vis Data</p>



    <p>Du skrev: @Model.Name</p>

    <p>Du skrev: @Model.Age</p>

