@model MyMvcApp.Models.UserViewModel

@{
    ViewData["Title"] = "Data";
}

<h1>@ViewData["Title"]</h1>

<h2>Brukerdata</h2>

<p>Vis Data</p>



    <p>Du skrev: @Model.Name</p>

    <p>Du skrev: @Model.Age</p>

