@model MyMvcApp.Models.UserViewModel

@{
    ViewData["Title"] = "Vis Data";
}

<h2>Data sendt av brukeren:</h2>
<p>Navn: @Model.Name</p>
<p>Alder: @Model.Age</p>

<a asp-action="Index">Tilbake til Hjem</a>


