@model MyMvcApp.Models.UserViewModel

<h2>Brukerdata</h2>
<form asp-action="Data" method="get">
    <div>
        <label for="name">Input Navn</label>
        <input asp-for="Name" id="name" type="text" />

        <label for="name">Input Age</label>
        <input asp-for="Age" id="age" type="number" />
    </div>
    <button type="submit" class="btn btn-primary">Send inn</button>
</form>
